In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl

## Membaca DataSet

In [3]:
am = pd.read_csv('C:/Users/santi/asuransi_mobil.csv')
am.head(5)

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya

In [4]:
am.describe()

,Unnamed: 0,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.00000,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,4999.50000,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,2886.89568,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,0.00000,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,2499.75000,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,4999.50000,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,7499.25000,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,9999.00000,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [5]:
am.dtypes

Unnamed: 0                 int64
IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [6]:
am.isnull().sum()

Unnamed: 0                 0
IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [7]:
am.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [19]:
am['UMUR'] = \
am['UMUR'].map({'lebih dari 65 tahun':4,'antara 40-65 tahun':3,'antara 25-40':2,'kurang dari 25':1})

In [8]:
am.JENIS_KELAMIN.unique()

array(['perempuan', 'laki-laki'], dtype=object)

In [9]:
am.PENGALAMAN_MENGEMUDI.unique()

array(['kurang dari 10 tahun', 'antara 10-20 tahun', 'antara 20-30 tahun',
       'lebih dari 30 tahun'], dtype=object)

In [23]:
am['PENGALAMAN_MENGEMUDI'] = \
am['PENGALAMAN_MENGEMUDI'].map({'lebih dari 30 tahun':4,'antara 20-30 tahun':3,'antara 10-20 tahun':2,'kurang dari 10 tahun':1})

In [10]:
am.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [24]:
am['PENDIDIKAN'] = \
am['PENDIDIKAN'].map({'universitas':3,'SMA':2,'tidak ada':1})

In [12]:
am.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [25]:
am['PENGHASILAN'] = \
am['PENGHASILAN'].map({'lebih dari 3x UMR':4,'antara 2-3x UMR':3,'antara 1-2x UMR':2,'kurang dari UMR':1})

In [13]:
am.PEMILIK_KENDARAAN.unique()

array(['ya', 'tidak'], dtype=object)

In [26]:
am['PEMILIK_KENDARAAN'] = \
am['PEMILIK_KENDARAAN'].map({'ya':1,'tidak':0})

In [14]:
am.TAHUN_PRODUKSI.unique()

array(['setelah 2020', 'sebelum 2020'], dtype=object)

In [27]:
am['TAHUN_PRODUKSI'] = \
am['TAHUN_PRODUKSI'].map({'setelah 2020':1,'sebelum 2020':0})

In [15]:
am.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [28]:
am['STATUS'] = \
am['STATUS'].map({'menikah':1,'belum menikah':0})

In [16]:
am.ANAK.unique()

array(['ada', 'tidak ada'], dtype=object)

In [29]:
am['ANAK'] = \
am['ANAK'].map({'ada':1,'tidak ada':0})

In [17]:
am.JENIS_KENDARAAN.unique()

array(['keluarga', 'sport'], dtype=object)

In [18]:
am.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [34]:
am['KLAIM'] = \
am['KLAIM'].map({'ya':1,'tidak':0})

In [30]:
am.describe()

,Unnamed: 0,IDENTITAS,UMUR,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.00000,10000.000000,4921.000000,10000.000000,10000.00000,10000.000000,9018.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,4999.50000,500521.906800,3.404389,2.069300,2.20130,2.899600,0.515813,0.697000,0.303300,0.498200,0.688800,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,2886.89568,290030.768758,0.490823,0.990452,0.73745,1.149109,0.137688,0.459578,0.459707,0.500022,0.463008,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,0.00000,101.000000,3.000000,1.000000,1.00000,1.000000,0.053358,0.000000,0.000000,0.000000,0.000000,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,2499.75000,249638.500000,3.000000,1.000000,2.00000,2.000000,0.417191,0.000000,0.000000,0.000000,0.000000,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,4999.50000,501777.000000,3.000000,2.000000,2.00000,3.000000,0.525033,1.000000,0.000000,0.000000,1.000000,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,7499.25000,753974.500000,4.000000,3.000000,3.00000,4.000000,0.618312,1.000000,1.000000,1.000000,1.000000,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,9999.00000,999976.000000,4.000000,4.000000,3.00000,4.000000,0.960819,1.000000,1.000000,1.000000,1.000000,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [32]:
am.columns

Index(['Unnamed: 0', 'IDENTITAS', 'UMUR', 'JENIS_KELAMIN',
       'PENGALAMAN_MENGEMUDI', 'PENDIDIKAN', 'PENGHASILAN', 'SKOR_KREDIT',
       'PEMILIK_KENDARAAN', 'TAHUN_PRODUKSI', 'STATUS', 'ANAK', 'KODE_POS',
       'KM_PER_TAHUN', 'JENIS_KENDARAAN', 'TILANG_NGEBUT', 'TILANG_MABUK',
       'KECELAKAAN_SEBELUMNYA', 'KLAIM'],
      dtype='object')

In [35]:
am.dtypes

Unnamed: 0                 int64
IDENTITAS                  int64
UMUR                     float64
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI       int64
PENDIDIKAN                 int64
PENGHASILAN                int64
SKOR_KREDIT              float64
PEMILIK_KENDARAAN          int64
TAHUN_PRODUKSI             int64
STATUS                     int64
ANAK                       int64
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                      int64
dtype: object

In [44]:
am_categorical = ['JENIS_KELAMIN']
am_numeric = ['IDENTITAS','UMUR','PENDIDIKAN','PENGHASILAN','SKOR_KREDIT','KODE_POS','KM_PER_TAHUN','TILANG_NGEBUT','TILANG_MABUK','KECELAKAAN_SEBELUM']
am_binary = ['PEMILIK_KENDARAAN','TAHUN_PRODUKSI','STATUS','ANAK']
am_target = ['KLAIM']

#

## One Hot Encoding

In [36]:
am_categorical = pd.get_dummies(am)
am_categorical.head()

,Unnamed: 0,IDENTITAS,UMUR,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,...,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM,JENIS_KELAMIN_laki-laki,JENIS_KELAMIN_perempuan,JENIS_KENDARAAN_keluarga,JENIS_KENDARAAN_sport
0,0,569520,4.0,1,2,4,0.629027,1,1,0,...,10238,12000.0,0,0,0,0,0,1,1,0
1,1,750365,NaN,1,1,1,0.357757,0,0,0,...,10238,16000.0,0,0,0,1,1,0,1,0
2,2,199901,NaN,1,2,2,0.493146,1,0,0,...,10238,11000.0,0,0,0,0,0,1,1,0
3,3,478866,NaN,1,3,2,0.206013,1,0,0,...,32765,11000.0,0,0,0,0,1,0,1,0
4,4,731664,NaN,2,1,2,0.388366,1,0,0,...,32765,12000.0,2,0,1,1,1,0,1,0

In [43]:
am_drop = am_categorical.drop(am_numeric, axis=1)
am_drop.head()

AttributeError: 'list' object has no attribute 'drop'